<header class="page-header">
  <div class="burger-container">
    <div class="hamburger hamburger--arrow" [class.is-active]="isBurgerIconActive" (click)="updateBurgerState()">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
  </div>
  <div class="logo-container"></div>
  <div class="social-container">
    <a href="https://github.com/cecilef" class="github" [inlineSVG]="'/assets/images/github-logo.svg'" target="_blank"></a>
    <a href="https://www.linkedin.com/in/cécile-ferrier-756643b0" class="linkedin" [inlineSVG]="'/assets/images/linkedin.svg'" target="_blank"></a>
  </div>
</header>
<ul>
  <li>Link to about</li>
  <li>Link to Clients</li>
  <li>Link to skills</li>
</ul>
<router-outlet></router-outlet>
